html,
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #012E4B;
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #053C63;
  border-bottom: 2px solid white;
  color: white;
  display: flex;
  font-size: 1.5rem;
  height: 50px;
  justify-content: space-between;
  padding: 20px;
}
.App-header a {
  color: white;
  font-size: 18px;
  text-decoration: underline;
}
.App-intro {
  font-size: large;
}

.search {
  background-color: #053C63;
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin: 0 25px;
}

form.searchForm {
  display: flex;
  justify-content: center;
  margin: auto 0;
  padding: 10px 0;
  position: relative;
}

.iconWrapper {
  align-self: center;
  left: 67.5%;
  position: relative;
  top: -10px;
}

i.fa-search {
  border-left: 1px solid darkgrey;
  color: #0F5FB3;
  height: 20px;
  left: 75%;
  padding: 0 8px;
  position: absolute;
}

i.fa-search:hover {
  color: #0F5FB3;
}

.searchInput {
  border-radius: 3px;
  width: 70%;
}

ul {
  background-color: white;
  margin: 0 25px;
  padding-left: 0;
  padding-top: 10px;
}
li {
  align-items: center;
  border-bottom: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 10px 0;
  padding-bottom: 20px;
}

li a {
  color: #053C63;
  cursor: pointer;
}
li a:hover {
  color: #012E4B;
  font-style: italic;
  text-decoration: none;
}

.productImage {
  margin: 20px 0;
  max-width: 200px;
}
.productImage img {
  margin: 0 auto;
  max-height: 200px;
  max-width: 150px;
}

.productInfo {
  margin: 0 20px;
  padding-left: 0;
  text-align: left;
}

.name {
  font-weight: bolder;
}
.itemDetails {
  text-align: center;
}
i {
  color: gray;
  cursor: pointer;
  padding-top: 20px;
}
i:hover {
  color: #012E4B;
}
h1 {
  color: white;
  margin-bottom: 0;
  margin-top: 30px;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 55px;
  padding: 30px 0;
}
input {
  border: 2px solid GREY;
  border-radius: 2px;
  font-size: 1.5rem;
  margin: 10px 0;
  padding: 10px 10px;
  text-align: center;
  width: 40%;
}
button {
  background-color: #063D60;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin: 25px auto 50px auto;
  padding: 10px 0;
  width: 30%;
}

@media (min-width: 745px) {
  ul {
    background-color: white;
    margin: 0 55px;
    padding-top: 10px;
  }
  li {
    align-items: center;
    border-bottom: 2px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 10px 25px;
    padding-bottom: 20px;
  }
  .productImage {
    margin: 0;
  }
  .search {
    margin: 0 55px;
  }
}

@media (min-width: 1024px) {
  li {
    margin-right: 0;
    width: 46%;
  }
  .productInfo {
    margin: 0 10px;
  }
  li:nth-child(odd) {
    border-right: 1px solid darkgrey;
    padding-right: 10px;
  }
  li:nth-child(even) {
    margin-left: 0;
    margin-right: 25px;
    padding-left: 10px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .productImage {
    margin: 10px;
  }
  i {
    margin: 0 10px;
  }
}
