html, body {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #053c63;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
