html,
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  align-items: center;
  background-color: #053C63;
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 20px;
}
.App-header a {
  color: white;
  text-decoration: underline;
}
.App-intro {
  font-size: large;
}
ul {
  margin: 10px 0 0 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 10px 0;
}

img {
  border: 2px solid #053C63;
  height: 200px;
  width: 200px;
}
.name {
  font-weight: bolder;
}
